<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>  Pathology | Registration </title>

		<!-- Web Fonts -->
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

		<!-- CSS Global Compulsory -->
		<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/style.css">

		<!-- CSS Header and Footer -->
		<link rel="stylesheet" href="assets/css/header.css">
		<link rel="stylesheet" href="assets/css/footer.css">

		<!-- CSS Implementing Plugins -->
		<link rel="stylesheet" href="assets/plugins/line-icons-pro/styles.css">
		<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
		<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">

		<!-- CSS Customization -->
		<link rel="stylesheet" href="assets/css/custom.css">
	<style>
        .text-success {
            color: green;
        }
    </style>
	<style>
    .success-msg {
        color: green;
        font-size: 24px; /* Adjust font size as needed */
    }

    .error-msg {
        color: red;
        font-size: 24px; /* Adjust font size as needed */
    }
</style>

</head>

<body>
		<div class="wrapper">
		<!--=== Header v1 ===-->
		<div class="header-v1">
		<!-- Topbar -->
		<div class="topbar-v1">
		<div class="container">
		<div class="row">
		<div class="col-md-6">
			<ul class="list-inline top-v1-contacts">
			<li>
			<i class="fa fa-envelope"></i> Email: pathology@gmail.com
			</li>
			<li>
			<i class="fa fa-phone"></i> Contact no : 88666 00555
			</li>
			</ul>
		</div>
		</div>
		</div>
		</div>

<!-- End Topbar -->

				<!-- Navbar -->
				<div class="navbar mega-menu" role="navigation">
				<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="res-container">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<div class="navbar-brand">
					<a th:href="@{/index}" >
						<img src="assets/img/logo/unity_white.jpg" alt="Logo"/>
					</a>
				</div>
				</div><!--/end responsive container-->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-responsive-collapse">
				<div class="res-container">
				<ul class="nav navbar-nav">

				<!-- Collect the nav links, forms, and other content for toggling -->


				<!-- Home  -->
				<li class="mega-menu-fullwidth">
					<a th:href="@{/index}" >
						HOME
					</a>

				</li>
				<!-- End Home-->

				<!-- About Us -->
				<li class="mega-menu-fullwidth">
					<a th:href="@{/about}" >
						ABOUT US
					</a>
				</li>
				<!-- End About us -->

				<!-- Doctors -->
				<li class="mega-menu-fullwidth">
					<a th:href="@{/doctors}" >
						DOCTORS
					</a>

				</li>
				<!-- End Doctors -->


				<!-- Gallery -->
				<li class="mega-menu-fullwidth">
					<a th:href="@{/gallery}" >
						GALLERY
					</a>

				</li>
				<!-- End Gallery -->


				<!-- Blog -->
				<li class="mega-menu-fullwidth">
					<a th:href="@{/blog}" >
						BLOGS
					</a>
				</li>
				<!-- End Blog -->

				<!-- Contact Us -->
				<li class="mega-menu-fullwidth">
					<a th:href="@{/contact}" >
						CONTACT US
					</a>
				</li>
				<!-- End Contact us -->

				<!-- Registration -->
				<li class="mega-menu-fullwidth">
					<a th:href="@{/registration}" th:if="${session['username'] == null}">
						REGISTRATION
					</a>
				</li>
				<!-- End registration -->

				<!-- login -->
					<li class="mega-menu-fullwidth" th:if="${session['username'] == null}">
						<a th:href="@{/login}">
							LOGIN
						</a>
					</li>
					<li class="mega-menu-fullwidth" th:if="${session['username'] != null}">
						<a th:href="@{/logout}">
							LOGOUT
						</a>
						<span>Welcome, <span th:text="${session['username']}"></span></span>
					</li>
					<li class="mega-menu-fullwidth" th:if="${session['username'] != null}">
						<a th:href="@{/dashboard}">
							DASHBOARD
						</a>
					</li>
				<!-- End login -->

				<!-- Appointment -->
				<li class="mega-menu-fullwidth">
					<a th:href="@{/appointment}" >
						BOOK APPOINTMENT
					</a>

				</li>
				<!-- End Appointment -->

				</ul>

				</div>
				</div>
				</div>
				</div>
				</div>
				<!-- End Navbar -->


	<!-- Image title -->

	<div style="text-align: center; margin-top: 50px;">
	<h2>REGISTER</h2>
	</div>

	<!-- End title  -->


				<!--=== Content Part ===-->
				<div class="container content">
				<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<form th:action="@{/registerUser}" th:object="${registrationUser}" method="post" class="reg-page">
				<div class="reg-header">
				<h2>Register a new account</h2>
				<p>Already Signed Up? Click<a th:href="@{/login}" class="color-green" >Sign In</a>to login your account.</p>
				</div>

				<label>First Name</label>
				<input type="text" th:field="*{name}" class="form-control " style="margin-bottom: 20px;" required="">

				<label>Last Name</label>
				<input type="text" th:field="*{lastName}" class="form-control " style="margin-bottom: 20px;" required="">

				<label>Email Address <span class="color-red">*</span></label>
				<input type="text" th:field="*{emailId}" class="form-control " style="margin-bottom: 20px;" required="">

				<div class="row">
				<div class="col-sm-6">
				<label>Password <span class="color-red">*</span></label>
				<input th:field="*{password}" id="password1" type="password" class="form-control " style="margin-bottom: 20px;" required="">
					<span id="passwordValidation" class="text-danger"></span>
				</div>
				<div class="col-sm-6">
				<label>Confirm Password <span class="color-red">*</span></label>
				<input th:field="*{confirmPassword}" id="password2" type="password" class="form-control " style="margin-bottom: 20px;" required="">
					<span id="passwordMatch" class="text-danger"></span>
				</div>
					<script>
		function matchPasswords() {
					 var password1 = document.getElementById("password1").value;
           			 var password2 = document.getElementById("password2").value;
            		 var passwordMatch = document.getElementById("passwordMatch");
            		   if (password1 === password2) {
               				 passwordMatch.innerHTML = "Passwords match";
               				  passwordMatch.classList.add("text-success");
           				 } else {
               				 passwordMatch.innerHTML = "Passwords do not match";
               				  passwordMatch.classList.remove("text-success");
          			  }
					}

        function validatePasswords() {
               var passwordValidation = document.getElementById("passwordValidation");
               	 var password1 = document.getElementById("password1").value;
             var passwordStrengthRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
               var requirements = [];

            if (!/(?=.*[a-z])/.test(password1)) {
                requirements.push("at least 1 lowercase letter");
            }
            if (!/(?=.*[A-Z])/.test(password1)) {
                requirements.push("at least 1 uppercase letter");
            }
            if (!/(?=.*\d)/.test(password1)) {
                requirements.push("at least 1 digit");
            }
            if (!/(?=.*[@$!%*?&])/.test(password1)) {
                requirements.push("at least 1 special character");
            }
            if (password1.length < 8) {
                requirements.push("at least 8 characters long");
            }

            if (requirements.length === 0) {
                passwordValidation.innerHTML = "Password is valid";
                 passwordValidation.classList.add("text-success");
            } else {
                passwordValidation.innerHTML = "Password must contain " + requirements.join(", ") + ".";
                 passwordValidation.classList.remove("text-success");
            }
        }
         document.getElementById("password1").addEventListener("keyup", validatePasswords);
       	 document.getElementById("password2").addEventListener("keyup", matchPasswords);

    </script>
				</div>

<!--				<div class="alert alert-success successBox">-->
<!--					<button type="button" class="close" onclick="showMsg(1);">×</button>-->
<!--				<strong style="font-size: 16px;">Congratulations!</strong><span class="alert-link"> You Have Successfully Registered.</span>-->
<!--				</div>-->

					<div th:if="${message}" class="success-msg">
						<p th:text="${message}"></p>
					</div>
					<div th:if="${error}" class="error-msg">
						<p th:text="${error}"></p>
					</div>
				<hr>

				<div class="row">
				<div class="col-lg-6 checkbox">
				<label>
				<input type="checkbox" required="">
				I read <a href="#" class="color-green">Terms and Conditions</a>
				</label>
				</div>
				<div class="col-lg-6 text-right">
				<button class="btn-u" type="submit">Register</button>
				</div>
				</div>
				</form>
				</div>
				</div>
				</div><!--/container-->
				<!--=== End Content Part ===-->

		<!--=== Footer ===-->
		<div class="footer-v1">
		<div class="footer">
		<div class="container">
		<div class="row">
		<!-- About -->
		<div class="col-md-3 " style="margin-bottom: 40px;">
			<a th:href="@{/index}" ><img id="logo-footer" class="footer-logo" src="assets/img/logo/unity_white.jpg" alt=""/></a>
			<p>At Pathology, we are convinced that 'quality' and 'lowest cost' are not mutually exclusive when it comes to healthcare delivery.</p>
		<p>Our mission is to deliver high quality, affordable healthcare services to the broader population in India.</p>
		</div><!--/col-md-3-->
		<!-- End About -->

		<!-- Latest -->
		<div class="col-md-3 " style="margin-bottom: 40px;">
		<div class="posts">
		<div class="headline"><h2>Latest Posts</h2></div>
		<ul class="list-unstyled latest-list">
			<li>
				<a th:href="@{/blog}">Incredible content</a>
				<small>December 16, 2020</small>
			</li>
			<li>
				<a th:href="@{/gallery}" >Latest Images</a>
				<small>December 16, 2020</small>
			</li>
			<li>
				<a th:href="@{/terms}" >Terms and Conditions</a>
				<small>December 16, 2020</small>
			</li>
		</ul>
		</div>
		</div><!--/col-md-3-->
		<!-- End Latest -->

		<!-- Link List -->
		<div class="col-md-3 " style="margin-bottom: 40px;">
		<div class="headline"><h2>Useful Links</h2></div>
		<ul class="list-unstyled link-list">
			<li><a th:href="@{/about}" >About us</a><i class="fa fa-angle-right"></i></li>
			<li><a th:href="@{/contact}" >Contact us</a><i class="fa fa-angle-right"></i></li>
			<li><a th:href="@{/appointment}" >Book Appointment</a><i class="fa fa-angle-right"></i></li>
		</ul>
		</div><!--/col-md-3-->
		<!-- End Link List -->

		<!-- Address -->
		<div class="col-md-3 map-img " style="margin-bottom: 40px;">
		<div class="headline"><h2>Contact Us</h2></div>
		<address class="" style="margin-bottom: 40px;">
		 Pathology <br />
		Ahmedabad, IN <br />
		Phone: 886 666 00555 <br />
		Email: pathology@gmail.com
		</address>
		</div><!--/col-md-3-->
		<!-- End Address -->
		</div>
		</div>
		</div><!--/footer-->

		<div class="copyright">
		<div class="container">
		<div class="row">
		<div class="col-md-6">
		<p>
		2020 &copy; All Rights Reserved.
			<a th:href="@{/privacy}" >Privacy Policy</a>|<a th:href="@{/terms}" >Terms of Service</a>
		</p>
		</div>

		<!-- Social Links -->
		<div class="col-md-6">
		<ul class="footer-socials list-inline">
		<li>
		<a href="http://www.facebook.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
		<i class="fa fa-facebook"></i>
		</a>
		</li>
		<li>
		<a href="http://www.skype.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
		<i class="fa fa-skype"></i>
		</a>
		</li>
		<li>
		<a href="http://www.googleplus.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
		<i class="fa fa-google-plus"></i>
		</a>
		</li>
		<li>
		<a href="http://www.linkedin.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
		<i class="fa fa-linkedin"></i>
		</a>
		</li>
		<li>
		<a href="http://www.Pinterest.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
		<i class="fa fa-pinterest"></i>
		</a>
		</li>
		<li>
		<a href="http://www.twitter.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
		<i class="fa fa-twitter"></i>
		</a>
		</li>
		</ul>
		</div>
		<!-- End Social Links -->
		</div>
		</div>
		</div><!--/copyright-->
		</div>
		<!--=== End Footer ===-->
</div><!--/wrapper-->

	<!-- Java scripts -->
	<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript">
	function showMsg(flag){
	if(flag==0){
	$('.successBox').css('display', 'block');
	}else{
	$('.successBox').css('display', 'none');
	}
	}
	</script>

</body>
</html>